menu "PIM447 Trackball Sensor"

config ZMK_TRACKBALL_PIM447
    bool "Enable ZMK trackball PIM447 support"
    default n
    help
      Enable support for the PIM447 trackball sensor in ZMK. 

config PIM447
    bool "Enable PIM447 Sensor"
    default n
    help
      Enable the PIM447 sensor.

config PIM447_CPI
    int "PIM447 CPI (Counts Per Inch)"
    default 3000
    help
      Set the CPI value for the PIM447 trackball sensor.

# Add other configuration options related to PIM447 here

endmenu
