menu "PIM447 Trackball Sensor"

config ZMK_TRACKBALL_PIM447
    bool "Enable ZMK trackball PIM447 support"
    default n
    help
      Enable support for the PIM447 trackball sensor in ZMK.

# 여기에 다른 설정 옵션 추가

endmenu
