/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // 오른쪽 키보드 모듈에만 트랙볼 설정
        right {
            bindings = <
                &mouse LCLK,   // 트랙볼 왼쪽 클릭
                &mouse RCLK,   // 트랙볼 오른쪽 클릭
                &mouse MCLK    // 트랙볼 가운데 클릭
            >;
        };

        // 기본 레이어 설정
        default_layer {
            bindings = <
                &mouse LCLK,   // 트랙볼 왼쪽 클릭
                &mouse RCLK,   // 트랙볼 오른쪽 클릭
                &mouse MCLK    // 트랙볼 가운데 클릭
            >;
        };
    };
};
