#include <dt-bindings/led/led.h>

&pinctrl {
    spi3_default: spi3_default {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_MOSI, 0, 6)>;
            low-power-enable;
        };
    };
};

&spi3 {
    compatible = "nordic,nrf-spim";
    status = "okay";

    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <4000000>;

        /* WS2812 */
        chain-length = <10>; /* arbitrary; change at will */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;

        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };

    trackball_spi: trackball_pim447@0 {  // 레이블 변경
        compatible = "pimoroni,trackball_pim447";
        reg = <0x0>;
        /* 필요한 경우 추가 설정을 여기에 작성하세요 */
    };
};

&i2c0 {
    trackball_i2c: trackball_pim447@0 {  // 레이블 변경
        compatible = "pimoroni,trackball_pim447";
        reg = <0>;
        /* 추가 설정 필요 시 여기에 작성 */
    };
};

&led_strip {
    /* LED 스트립에 대한 추가 설정이 필요하다면 여기에 작성 */
};

/ {
    chosen {
        zmk,underglow = &led_strip;
    };
};
